.dropdown-menu {
  z-index: 1000;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  background-color: #f8f9fa;
  color: #6c757d;
  display: flex;
  align-items: center;
  z-index: 1050;
  border-bottom: 2px solid #dee2e6;
  padding-left:40px;
}

.menuItem {
  text-decoration: none;
  color: #007bff;
  cursor: pointer;
}

.header button {
  color: #007bff;
  cursor: pointer;
}

.icon {
  width: 1.75rem;
  height: 1.75rem;
  position: absolute;
  right: 20px;
  color: #007bff;              
  min-width: 1.75rem;
  min-height: 1.75rem;
}

@media only screen and (max-width: 768px) {
  .header {
    overflow: scroll;
  }
  .icon {
    position: static;
    margin-left: 15px;
  }
  .menuItem {
    margin-left: 15px;
  }
}

@media only screen and (max-width: 420px) {
  .header {
    font-size: 10px;
  }
}

@media print {
  .notPrintable {
    display: none;
  }
}
